@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

body {
  margin: 0;
  font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow-y: none;
  overflow-x: none;
}
#root {
  height: 100%;
}
.app {
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}
.app:before {
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app .search {
  text-align: center;
  padding: 1rem;
}
.app .search input {
  width: 50%;
  height: 50px;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.app .search input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
input:focus {
  outline: none;
}
.container {
  max-width: 80%;
  height: 650px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
}

.app .desc {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(270deg);
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
}
.bold {
  font-weight: 700;
}
p,
span {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}
.background-image {
  transition: 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.background-image img {
  transition: 0.5s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .detail-text {
  font-size: 14px;
}
@media screen and (max-width: 1000px) {
  body {
    height: 1000px;
  }
  .app .search input {
    width: 80%;
  }
  .app .bottom {
    padding: 5px;
  }
  .app .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
  }
}
